@import "variables";
@import "common_classes";
@import"mixing";
.blank_space {
    width: 100%;
    height: 270px;
    border-bottom: 1px solid $grey2;
    border-top: 1px solid $grey2;
    display: none;
    @media only screen and (min-width: $wide_screen) {
        display: inline-block;
    }
}
.aside_bar{
	display:none;
}
.aside_bar {
	 @media only screen and (min-width: $wide_screen) {
    width: 32%;
    height: 100%;
    display: inline-block;
    border-bottom: 1px solid $grey2;
    .image_slider {
        width: 100%;
        img {
            width: 32%;
        }
        .display_wrapper {
            img {
                width: 98%;
                height: 200px;
                display: none;
            }
            #concorse2 {
                display: block;
            }
        }
    }

.login_form{

	width:92%;
	height:100px;
	background-color:#F5F5F5;
	margin-top: 25px;
   	margin-left: 21px;
	span{
		margin-top: 1px;
		margin-left: 33px;
	}
	#close_button{
		float:right;
	}

	.input_form{

		border:0px;
		border-bottom: #aaa 1px solid;
		background-color:#F5F5F5;
		margin-top: 14px;
    	margin-left: 34px;
		display: inline-block;
		float: left;
	}
	.submit_btn{
	width: 76px;
    height: 27px;
    display: inline-block;
    border-radius: 15px;
    border:none;
    background-color: #0095ff;
    color: #fff;
    margin-top: 10px;
    float: right;
    margin-right: 9px;
	}
	
	}
}
}




.main_articles {
    float: right;
    width: 100%;
    display: inline-block;
    @media only screen and (min-width: $wide_screen){
    	width: 59%;
    	border-right: 1px solid $grey2;

    }
}

.article_wrapper {
    @include box-sizing(border-box);
    display: inline-block;
    width: 100%;
    p{
    	line-height: 1.6;
    }
    h1 {
        margin-left: 3px;
    	margin-top: 38px;
        // text-decoration: underline;
        &:hover {
            text-decoration: underline;
        }
    }
    // &:hover h1{
    // 	text-decoration: underline;
    // }
    a {
        text-decoration: none;
    }
    .author_wrapper {
        display: inline-block;
        margin-top: 14px;
        a {
            display: block;
        }
        // display:inline-block;
        .author_name {
            font-size: 15px;
            color: #434343;
            &:hover {
                text-decoration: underline;
            }
        }
        .post_time {
            font-size: 13px;
            color: #CCC;
            :hover {
                text-decoration: underline;
            }
            span {
                font-size: 8px;
                color: #CCC;
            }
        }
    }
    .symbol_wrapper {
        display: inline-block;
        float: right;
        a {
            :hover {
                color: blue;
                img {
                    display: block;
                }
            }
            display:inline-block;
            .chatbox_bubble {
                width: 28px;
    			height: 26px;
            }
            .star {
                width: 35px;
                height: 35px;
            }
            .three_dots {
                width: 35px;
                height: 35px;
            }
            span {
                color: #ccc;
                display: block;
                margin-left: 44%;
            }
        }
    }
    .border_line {
        width: 98%;
        margin-left: 5px;
        border-bottom: 1px solid $grey2;
        display: block;
        margin-top: 15%;
    }
    p {
        font-size: 16px;
        margin-left: 20px;
    }
    p::after{
    	clear:both;
    }

    img {
        margin-top: 2px;
        display: block;
        width: 100%;
    }
    @media only screen and (min-width: 600px) {
        img {
            width: 19%;
            display: inline-block;
            margin-left: 5px;
            float: left;
        }
        p {
            float: left;
            width: 75%;
        }
    }
    @media only screen and (min-width: 800px) {
        position: relative;
        .symbol_wrapper {
            position: absolute;
            top: 0px;
            left: 93%;
            a {
                display: block;
                margin-bottom: 4px;
                span {
                    margin-top: 1%;
                }
            }
        }
        p {
            position: absolute;
            margin-left: 21%;
            word-wrap: break-word;
            width: 70%;
        }
        h1 {
            width: 94%;
        }
    }
}

.big_article_wrapper {
    @extend .article_wrapper;
    h1 {
        font-size: 34px;
    }
    img {
        width: 80%;
    }
    p {
        position: relative;
        clear: both;
        margin-left: 1%;
        margin-top: 3%;
        line-height: 1.6;
    }
    p::after{
    	clear:both;
    }
    .border_line_big {
        margin-top: 8%;
        float:left;
        @extend .border_line;
    }
    @media only screen and (min-width: 800px) {
        .symbol_wrapper {
            top: 3%;
        }
    }
}

.more_news {
    .more_wrapper {
        display: inline-block;
        margin-left: 7%;
        margin-top: 3%;
        margin: 0 auto;
        width: 40%;

         @media only screen and (min-width: 600px) {
        
            width: 22%;
            margin:0 auto;
        
    }
        img {
            display: block;
            width: 100%;
        }
        span {
            display: block;
            line-height: 1.6;
        }
    }
    .button {
        border: 1px solid #0093ec;
        // border-color: #0093ec;
        color: #0093ec;
        border-radius: 32px;
        width: 180px;
        height: 40px;
        margin-top: 4%;
        position:relative;
        span {	 position:absolute;
                left: 46px;
    			top: 12px;
            
        }
    }
    @media only screen and (min-width: 600px) {
        .more_wrapper {
            width: 22%;
            margin-left: 2%;
        }
    }
}
