@import "mixing";
@import "variables";
@import"compass";
@import"content";
footer{
	float:left;
	clear:both;
	width:100%;
	border-top:2px solid #eaeaea;
	margin-top:1px;
}


.footer_subscribe{
	position:relative;
	@include box(72%,100px);
	background-color:$white2;
   	margin:0 auto;
   	margin-top: 44px;
   	  @media only screen and (min-width:$wide_screen){
      	width:392px;
      }


	.footer_question{
		
		position:absolute;
		    left: 12px;
    		top: 26px;
	}
	#close_button_footer{
		position:absolute;
	}

	.input_form_footer{

		border:0px;
		border-bottom: #aaa 1px solid;
		background-color:$white2;
    	margin:14px 0 0 34px;
    	margin: 0 auto;
		display: inline-block;
		position:absolute;
		top: 56px;
    	left: 14px;
	}
	.submit_btn_footer{
     @include box(76px,27px);
    display: inline-block;
    border-radius: 15px;
    border:none;
    background-color:$blue3;
    color:$white1;
    position: absolute;
    margin:10px 9px 0 0 ;
    right: 4px;
    float: right;
    top: 39px;
}
	}
	


	.horizontal_bar{
	list-style-type: none;
    margin: 0;
    padding: 0;	

    li{
    	display: inline-block;
    	padding-left:16px;
    }
	}
	#about_blog{
		display: block;
		margin-top: 20px;
		
		li{
			color:$grey3;
			margin-left:1px;
		}
	}

	#permissions{
	display:block;
    margin-top: 14px;
    font-size: 12px;
   
      @media only screen and (max-width:$mobile_view){
      	width:58%;
      }
	li{
		margin-left:1px;
	}

	}


