//MEDIA QUERY
$tab_view:600px;
$desktop_view:800px;
$wide_screen:1024px;

//FONTS
$basic_font: 'Josefin Slab', serif;
$logo_font:'Nunito', sans-serif;

//white
$white1:#fff;

//black
$black1:#222;//lighter black
$black2:#000;//black


//grey
$grey1:#aaa;
$grey2:#eaeaea;//border grey


//blue
$blue1:#0076bd; //dark blue
$blue2:#0093ec;//hover blue





