/* line 2, ../sass/common_classes.scss */
.vertical_list ul {
  list-style-type: none;
}
/* line 5, ../sass/common_classes.scss */
.vertical_list li {
  display: block;
}

/* line 6, ../sass/content.scss */
.blank_space {
  width: 100%;
  height: 270px;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  display: none;
}
@media only screen and (min-width: 1024px) {
  /* line 6, ../sass/content.scss */
  .blank_space {
    display: inline-block;
  }
}

/* line 24, ../sass/content.scss */
.aside_bar {
  width: 40%;
  height: 100%;
  background-color: red;
  display: inline-block;
}

/* line 33, ../sass/content.scss */
.article_wrapper, .big_article_wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}
/* line 37, ../sass/content.scss */
.article_wrapper h1, .big_article_wrapper h1 {
  margin-left: 3px;
  margin-top: 5px;
}
/* line 41, ../sass/content.scss */
.article_wrapper h1:hover, .big_article_wrapper h1:hover {
  text-decoration: underline;
}
/* line 49, ../sass/content.scss */
.article_wrapper a, .big_article_wrapper a {
  text-decoration: none;
}
/* line 53, ../sass/content.scss */
.article_wrapper .author_wrapper, .big_article_wrapper .author_wrapper {
  display: inline-block;
}
/* line 56, ../sass/content.scss */
.article_wrapper .author_wrapper a, .big_article_wrapper .author_wrapper a {
  display: block;
}
/* line 62, ../sass/content.scss */
.article_wrapper .author_wrapper .author_name, .big_article_wrapper .author_wrapper .author_name {
  font-size: 15px;
  color: #434343;
}
/* line 65, ../sass/content.scss */
.article_wrapper .author_wrapper .author_name:hover, .big_article_wrapper .author_wrapper .author_name:hover {
  text-decoration: underline;
}
/* line 70, ../sass/content.scss */
.article_wrapper .author_wrapper .post_time, .big_article_wrapper .author_wrapper .post_time {
  font-size: 13px;
  color: #CCC;
}
/* line 73, ../sass/content.scss */
.article_wrapper .author_wrapper .post_time :hover, .big_article_wrapper .author_wrapper .post_time :hover {
  text-decoration: underline;
}
/* line 76, ../sass/content.scss */
.article_wrapper .author_wrapper .post_time span, .big_article_wrapper .author_wrapper .post_time span {
  font-size: 8px;
  color: #CCC;
}
/* line 84, ../sass/content.scss */
.article_wrapper .symbol_wrapper, .big_article_wrapper .symbol_wrapper {
  display: inline-block;
  float: right;
}
/* line 88, ../sass/content.scss */
.article_wrapper .symbol_wrapper a, .big_article_wrapper .symbol_wrapper a {
  display: inline-block;
}
/* line 88, ../sass/content.scss */
.article_wrapper .symbol_wrapper a :hover, .big_article_wrapper .symbol_wrapper a :hover {
  color: blue;
}
/* line 90, ../sass/content.scss */
.article_wrapper .symbol_wrapper a :hover img, .big_article_wrapper .symbol_wrapper a :hover img {
  display: block;
}
/* line 98, ../sass/content.scss */
.article_wrapper .symbol_wrapper a .chatbox_bubble, .big_article_wrapper .symbol_wrapper a .chatbox_bubble {
  width: 32px;
  height: 32px;
}
/* line 102, ../sass/content.scss */
.article_wrapper .symbol_wrapper a .star, .big_article_wrapper .symbol_wrapper a .star {
  width: 35px;
  height: 35px;
}
/* line 106, ../sass/content.scss */
.article_wrapper .symbol_wrapper a .three_dots, .big_article_wrapper .symbol_wrapper a .three_dots {
  width: 35px;
  height: 35px;
}
/* line 110, ../sass/content.scss */
.article_wrapper .symbol_wrapper a span, .big_article_wrapper .symbol_wrapper a span {
  color: #ccc;
  display: block;
  margin-left: 44%;
}
/* line 120, ../sass/content.scss */
.article_wrapper .border_line, .big_article_wrapper .border_line {
  width: 98%;
  margin-left: 5px;
  border-bottom: 3px solid #eaeaea;
  display: block;
  margin-top: 13%;
}
/* line 128, ../sass/content.scss */
.article_wrapper p, .big_article_wrapper p {
  font-size: 16px;
  margin-left: 20px;
}
/* line 133, ../sass/content.scss */
.article_wrapper img, .big_article_wrapper img {
  margin-top: 2px;
  display: block;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* line 141, ../sass/content.scss */
  .article_wrapper img, .big_article_wrapper img {
    width: 19%;
    display: inline-block;
    margin-left: 5px;
    float: left;
  }
  /* line 147, ../sass/content.scss */
  .article_wrapper p, .big_article_wrapper p {
    float: left;
    width: 75%;
  }
}
@media only screen and (min-width: 800px) {
  /* line 33, ../sass/content.scss */
  .article_wrapper, .big_article_wrapper {
    position: relative;
  }
  /* line 159, ../sass/content.scss */
  .article_wrapper .symbol_wrapper, .big_article_wrapper .symbol_wrapper {
    position: absolute;
    top: 0px;
    left: 93%;
  }
  /* line 163, ../sass/content.scss */
  .article_wrapper .symbol_wrapper a, .big_article_wrapper .symbol_wrapper a {
    display: block;
    margin-bottom: 4px;
  }
  /* line 166, ../sass/content.scss */
  .article_wrapper .symbol_wrapper a span, .big_article_wrapper .symbol_wrapper a span {
    margin-top: 1%;
  }
  /* line 176, ../sass/content.scss */
  .article_wrapper p, .big_article_wrapper p {
    position: absolute;
    margin-left: 21%;
    word-wrap: break-word;
    width: 70%;
  }
  /* line 183, ../sass/content.scss */
  .article_wrapper h1, .big_article_wrapper h1 {
    width: 94%;
  }
}

/* line 198, ../sass/content.scss */
.big_article_wrapper h1 {
  font-size: 38px;
}
/* line 201, ../sass/content.scss */
.big_article_wrapper img {
  width: 80%;
}
/* line 204, ../sass/content.scss */
.big_article_wrapper p {
  position: relative;
  clear: both;
  margin-left: 1%;
  margin-top: 3%;
}
/* line 210, ../sass/content.scss */
.big_article_wrapper .border_line {
  margin-top: 64%;
}
@media only screen and (min-width: 800px) {
  /* line 216, ../sass/content.scss */
  .big_article_wrapper .symbol_wrapper {
    top: 3%;
  }
}

/* line 4, ../sass/header.scss */
#header {
  border-bottom: 1px solid #eaeaea;
  height: 61px;
}

/* line 9, ../sass/header.scss */
#menu_icon {
  height: 37px;
  width: 20px;
  padding: 15px 14px 0 15px;
  display: inline-block;
  float: left;
}

/* line 15, ../sass/header.scss */
#menu_icon:hover span {
  background-color: #0076bd;
}

/* line 18, ../sass/header.scss */
#menu_icon span {
  display: block;
  height: 1px;
  margin-bottom: 6px;
  background-color: #000;
}

/* line 25, ../sass/header.scss */
#menu_icon span:nth-child(2) {
  width: 75%;
}

/* line 28, ../sass/header.scss */
#menu_icon span:nth-child(3) {
  width: 50%;
}

/* line 32, ../sass/header.scss */
#search_icon {
  float: left;
  padding-top: 14px;
  display: none;
}

/* line 37, ../sass/header.scss */
#logo {
  font-family: "Nunito", sans-serif;
  display: inline-block;
  font-size: 38px;
  margin: 11px 0 10px 0;
}

/* line 44, ../sass/header.scss */
#login_button {
  display: none;
  float: right;
  height: 24px;
  width: 115px;
  margin: 10px 12px 0 21px;
  border-radius: 8px;
  border: 3px solid #eaeaea;
  color: #eaeaea;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
/* line 54, ../sass/header.scss */
#login_button:hover {
  background-color: #0076bd;
}
/* line 57, ../sass/header.scss */
#login_button:hover span {
  color: #fff;
}

/* line 60, ../sass/header.scss */
#login_button span {
  font-size: 13px;
  text-align: center;
  color: #aaa;
  font-style: "Josefin Slab", serif;
}

/* line 66, ../sass/header.scss */
#logo_onhover {
  display: none;
  margin-top: 21px;
  height: 100%;
  vertical-align: top;
}

/* line 72, ../sass/header.scss */
#logo_onhover a {
  text-decoration: none;
  color: #0076bd;
}

/* line 76, ../sass/header.scss */
#logo_wrapper {
  width: 67%;
  float: left;
}

/* line 80, ../sass/header.scss */
#cross {
  margin-left: 1px;
  color: #aaa;
  width: 1px;
  height: 1px;
}

@media only screen and (min-width: 600px) {
  /* line 88, ../sass/header.scss */
  #login_button {
    display: inline-block;
  }
}
@media only screen and (min-width: 800px) {
  /* line 95, ../sass/header.scss */
  #logo {
    display: inline-block;
    margin-left: 39%;
  }

  /* line 99, ../sass/header.scss */
  #search_icon {
    display: inline-block;
  }

  /* line 102, ../sass/header.scss */
  #logo_wrapper:hover #logo_onhover {
    display: inline-block;
  }

  /* line 103, ../sass/header.scss */
  #logo_onhover a:hover {
    text-decoration: underline;
    color: #0093ec;
  }
}
/* line 5, ../sass/scroller.scss */
#scroller {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
}
/* line 12, ../sass/scroller.scss */
#scroller figure {
  position: relative;
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* line 22, ../sass/scroller.scss */
#scroller figure:hover:after {
  opacity: 0.2;
}
/* line 25, ../sass/scroller.scss */
#scroller figure:hover h3 {
  opacity: 1;
}
/* line 28, ../sass/scroller.scss */
#scroller figure:nth-child(3) {
  margin-right: 5%;
}
/* line 32, ../sass/scroller.scss */
#scroller figure:after {
  display: block;
  content: '';
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
/* line 45, ../sass/scroller.scss */
#scroller img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}
/* line 55, ../sass/scroller.scss */
#scroller h3 {
  position: absolute;
  z-index: 2;
  opacity: 0.6;
  color: #fff;
  bottom: 4px;
  left: 0px;
  white-space: normal;
  display: inline;
  width: 93%;
}
/* line 66, ../sass/scroller.scss */
#scroller span {
  background-color: #000;
  display: inline;
  -webkit-box-decoration-break: clone;
  padding-left: 15px;
  white-space: pre-line;
  line-height: 1.17px;
}
@media only screen and (min-width: 600px) {
  /* line 77, ../sass/scroller.scss */
  #scroller figure {
    margin: 3% 0 3% 3%;
    width: 52%;
  }
}
@media only screen and (min-width: 800px) {
  /* line 5, ../sass/scroller.scss */
  #scroller {
    overflow: hidden;
    white-space: normal;
  }
  /* line 91, ../sass/scroller.scss */
  #scroller figure {
    width: 30%;
    margin: 2% 0 2% 2.3%;
  }
  /* line 95, ../sass/scroller.scss */
  #scroller figure:nth-child(3) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 105, ../sass/scroller.scss */
  #scroller h3 {
    font-size: 25px;
  }
}

/* line 16, ../sass/gizmodo.scss */
body {
  background: #fff;
  font-style: sans-serif;
}
