/* line 4, ../sass/header.scss */
#header {
  border-bottom: 1px solid #eaeaea;
  height: 61px;
}

/* line 9, ../sass/header.scss */
#menu_icon {
  height: 37px;
  width: 20px;
  padding: 15px 14px 0 15px;
  display: inline-block;
  float: left;
}

/* line 15, ../sass/header.scss */
#menu_icon:hover span {
  background-color: #0076bd;
}

/* line 18, ../sass/header.scss */
#menu_icon span {
  display: block;
  height: 1px;
  margin-bottom: 6px;
  background-color: #000;
}

/* line 25, ../sass/header.scss */
#menu_icon span:nth-child(2) {
  width: 75%;
}

/* line 28, ../sass/header.scss */
#menu_icon span:nth-child(3) {
  width: 50%;
}

/* line 32, ../sass/header.scss */
#search_icon {
  float: left;
  padding-top: 14px;
  display: none;
}

/* line 37, ../sass/header.scss */
#logo {
  font-family: "Nunito", sans-serif;
  display: inline-block;
  font-size: 38px;
  margin: 11px 0 10px 0;
}

/* line 44, ../sass/header.scss */
#login_button {
  display: none;
  float: right;
  height: 24px;
  width: 115px;
  margin: 10px 12px 0 21px;
  border-radius: 8px;
  border: 3px solid #eaeaea;
  color: #eaeaea;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
/* line 54, ../sass/header.scss */
#login_button:hover {
  background-color: #0076bd;
}
/* line 57, ../sass/header.scss */
#login_button:hover span {
  color: #fff;
}

/* line 60, ../sass/header.scss */
#login_button span {
  font-size: 13px;
  text-align: center;
  color: #aaa;
  font-style: "Josefin Slab", serif;
}

/* line 66, ../sass/header.scss */
#logo_onhover {
  display: none;
  margin-top: 21px;
  height: 100%;
  vertical-align: top;
}

/* line 72, ../sass/header.scss */
#logo_onhover a {
  text-decoration: none;
  color: #0076bd;
}

/* line 76, ../sass/header.scss */
#logo_wrapper {
  width: 67%;
  float: left;
}

/* line 80, ../sass/header.scss */
#cross {
  margin-left: 1px;
  color: #aaa;
  width: 1px;
  height: 1px;
}

@media only screen and (min-width: 600px) {
  /* line 88, ../sass/header.scss */
  #login_button {
    display: inline-block;
  }
}
@media only screen and (min-width: 800px) {
  /* line 95, ../sass/header.scss */
  #logo {
    display: inline-block;
    margin-left: 39%;
  }

  /* line 99, ../sass/header.scss */
  #search_icon {
    display: inline-block;
  }

  /* line 102, ../sass/header.scss */
  #logo_wrapper:hover #logo_onhover {
    display: inline-block;
  }

  /* line 103, ../sass/header.scss */
  #logo_onhover a:hover {
    text-decoration: underline;
    color: #0093ec;
  }
}
/* line 4, ../sass/scroller.scss */
#scroller {
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
}
/* line 9, ../sass/scroller.scss */
#scroller figure {
  position: relative;
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* line 19, ../sass/scroller.scss */
#scroller figure:hover:after {
  opacity: 0.2;
}
/* line 22, ../sass/scroller.scss */
#scroller figure:hover h3 {
  opacity: 1;
}
/* line 25, ../sass/scroller.scss */
#scroller figure:nth-child(3) {
  margin-right: 5%;
}
/* line 29, ../sass/scroller.scss */
#scroller figure:after {
  display: block;
  content: '';
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
/* line 42, ../sass/scroller.scss */
#scroller img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}
/* line 52, ../sass/scroller.scss */
#scroller h3 {
  position: absolute;
  z-index: 2;
  opacity: 0.6;
  color: #fff;
  bottom: 4px;
  left: 0px;
  white-space: normal;
  display: inline;
  width: 93%;
}
/* line 63, ../sass/scroller.scss */
#scroller span {
  background-color: #000;
  display: inline;
  -webkit-box-decoration-break: clone;
  padding-left: 15px;
  white-space: pre-line;
  line-height: 1.17px;
}
@media only screen and (min-width: 600px) {
  /* line 74, ../sass/scroller.scss */
  #scroller figure {
    margin: 3% 0 3% 3%;
    width: 52%;
  }
}
@media only screen and (min-width: 800px) {
  /* line 4, ../sass/scroller.scss */
  #scroller {
    overflow: hidden;
    white-space: normal;
  }
  /* line 88, ../sass/scroller.scss */
  #scroller figure {
    width: 30%;
    margin: 2% 0 2% 2.3%;
  }
  /* line 92, ../sass/scroller.scss */
  #scroller figure:nth-child(3) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 102, ../sass/scroller.scss */
  #scroller h3 {
    font-size: 25px;
  }
}

/* line 2, ../sass/common_classes.scss */
.vertical_list ul {
  list-style-type: none;
}
/* line 5, ../sass/common_classes.scss */
.vertical_list li {
  display: block;
}

/* line 16, ../sass/gizmodo.scss */
body {
  background: #fff;
  font-style: sans-serif;
}
